*.iml
.gradle
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/gradle.xml
/.idea/.gitignore
/.idea/.name
/.idea/compiler.xml
/.idea/misc.xml
/.idea/vcs.xml
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
/CeeLoGame.code-workspace
backend/.gradle
bakend/node_modules
bakend/build
