*.iml
.gradle
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/gradle.xml
/.idea/.gitignore
/.idea/.name
/.idea/compiler.xml
/.idea/misc.xml
/.idea/vcs.xml
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
ceelo.code-workspace
servlet/.gradle
servlet/node_modules
servlet/build

webflux/.gradle
webflux/node_modules
webflux/build

gradle/wrapper/gradle-wrapper.jar
/.idea/deploymentTargetDropDown.xml
/data/koin_bootstrap_question_stackover.md
